<!-- MAIN SECTION -->
<section class="main-section">
  <!-- CONTENT SECTION -->
  <section class="full-width content-section">
      <div class="row">
          <div class="small-12 medium-12 large-12 columns">
              <h2>Welcome!</h2>
              <div class="fb-like"
                data-share="true"
                data-width="450"
                data-show-faces="true">
              </div>
          </div> <!-- END 12 COLUMNS -->
      </div> <!-- END ROW -->
  </section> <!-- END SECTION.CONTENT-SECTION -->




<!-- SERVICES SECTION -->
  <section class="full-width services-section">
      <div class="row">
          <div class="small-12 medium-4 large-4 columns">
              <h3>The Arrangement</h3>
              <p>Simply find events that are happening near you by simply logging in and clicking find events near me.</p>
          </div>

          <div class="small-12 medium-4 large-4 columns">
              <h3>Sharing</h3>
              <p>Share it with your friends and get them to vote on which event you guys should attend.</p>
          </div>

          <div class="small-12 medium-4 large-4 columns">
              <h3>Participate</h3>
              <p>Once an event has been chosen, everyone who accepted with get together on event day and help!</p>
          </div>

      </div> <!-- END ROW -->
  </section> <!-- END SECTION.FULL-WIDTH.SERVICES-SECTION -->



  <!-- CALL 2 ACTION -->
  <section class="full-width call-to-action">
      <div class="row">
          <div class="small-12 medium-12 large-12 columns">
              <%= link_to 'Start Volunteering!', "#", class: 'button radius' %>
          </div>
      </div>
  </section>

</section> <!-- END SECTION.MAIN-SECTION -->

  <!-- FOOTER SECTION -->
  <footer>
      <div class="row">
          <div class="medium-block-grid-4">
            <div class="small-12 medium-3 large-3 columns">
              <%= image_tag('gu_robert.jpg', class: 'th bob') %>
            </div>
                <h4>Bob Says:</h4>
                <p>I've always wanted to give more to the community but haven't found the motivation to do so. <br> Ever since I started using Together We Help, I've been arranging volunteering activities weekly!</p>
          </div>


      </div> <!-- END ROW -->
  </footer> <!-- END FOOTER -->
