<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for using Together We Help, <%= @user.name.titleize %>!</h1>
    <p>You've received a friend request!</p>
    <p>
      Please do not reply to this address as all incoming mail is not received
      by our company.
    </p>
  </body>
</html>
