<div class= 'row'>
  <div class= 'medium-6 columns'>

    <h1>My Friends</h1>
    <%= div_for(@friends, class: 'user') do |friend| %>
    <div class="panel">
      <%= image_tag(friend.image, id: 'gravatar-friend') %>
      <%= friend.name %>
      <%= link_to 'Remove', friendship_path(friend), method: :delete, class: 'right' %>
    </div>
    <% end %>
  </div>
</div>
